html {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("4.jpg");
  background-size: cover;
}

.nav_bar {
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav_item a {
  float: left;
  margin-left: 0;
  display: block;
  color:white;
  text-align: center;
  text-decoration: none;
  padding: 14px 12%;
  font-size: 35px;
}

.nav_item a:hover {
  background-color: black;
}

.mainBlock {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid black;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}

#top_part {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid black;
  position: absolute;
  vertical-align: middle;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}

#forum_title {
  float:left;
}

input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 23px;
  font-size: 17px;
  background-color: grey;
}

input::placeholder {
  color: white;
}

h1 {
  padding-left: 30px;
}

.search-container {
  float: right;
}

.search-container button{
  float: right;
  padding: 7.5px 10px;
  margin-top: 23px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.post {
  border: 3px solid black;
  border-radius: 10px;
  color: white;
  padding-left: 30px;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  font-weight: bold;
  position: absolute;
  vertical-align: bottom;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}

h2 {
  width: 30%;
}

p {
  width: 20%;
}
