html {
  font-family: 'Roboto Condensed', sans-serif;
  color: red;
  /*background-image: url("cool-background.png")*/
}

#mainBlock {
  float: center;
  align: center;
  padding: 30px;
  color: black;
  /* background-color: rgb(255,192,203); */
}

#top_part {
  overflow: hidden;
  border: 3px solid black;
}

#forum_title {
  float:left;
}

input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 23px;
  font-size: 17px;
  background-color: grey;
}

input::placeholder {
  color: white;
}

h1 {
  padding-left: 30px;
}

.search-container {
  float: right;
}

.search-container button{
  float: right;
  padding: 7.5px 10px;
  margin-top: 23px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.post {
  border: 3px solid black;
  display:flex;
  border-radius: 10px;
  padding-left: 30px;
}

h2 {
  width: 30%;
}

p {
  width: 20%;
}
