html {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("back4.jpg");
  background-size: cover;
}

.bg-image{
  /*background-image: url("back4.jpg");*/
/*  filter: blur(8px);
  -webkit-filter: blur(8px);*/
  height: 95%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}


h1 {
  font-size: 35px;
  color: black;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #FFCCCB;
}

#searchpart {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid black;
  position: absolute;
  vertical-align: middle;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
}

input[type=text] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-bottom: 15px;
  align: center;
  font-size: 17px;
  background-color: grey;
}

input::placeholder {
  color: white;
}

.search-container {
  float: right;
}

.search-container button{
  float: right;
  padding: 7.5px 10px;
  margin-top: 23px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
}

.mainBlock {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  padding: 30px;
  color: white;
  background-color: red;
  font-size: 50px;
}

h2 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 62.5%;
  left: 50%;
  transform: translate(-50%, -75%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  font-size: 35px;
}

h3 {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 82.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 90%;
  padding: 20px;
  text-align: center;
  font-size: 25px;
}

.event1{
  border: 3px solid black;
  border-radius: 10px;
  padding-left: 30px;
}

.event2{
  padding-left: 30px;
}
