html {
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url("4.jpg");
  background-size: cover;
}

.bg-image{
  background-image: url("4.jpg");
  background-size: cover;
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

#mainBlock {
  width: 90%;
  float: center;
  align: center;
  padding: 30px;
  color: grey;
  /* background-color: rgb(255,192,203); */
}


h1 {
  padding-left: 33%;
  background-color: white;
  width: 50%;
}

h3 {
  float:center;
  align: center;
  background-color: white;
  width: 50%;
}

.event1{
  border: 3px solid black;
  border-radius: 10px;
  padding-left: 30px;
}

.event2{
  border: 3px solid black;
  border-radius: 10px;
  padding-left: 30px;
}
