<link rel="stylesheet" href="style/index.css">
<div class="bg-image"></div>
<div class="mainBlock">
  <mainBlock>Student Government Surveys</mainBlock>
</div>


<div class="event1">
  <h1>Let us know of your problems. </h1>
  <h2>We are always listening. &#127911;</h2>
</div>

<div class="event2">
  <H3>The Student Body's eager to learn more about everyday
    problems that are affecting you. Every relevant and feasible
    problem will be reviewed by the board at their student meetings.</H3>
  <p></p>
</div>
