<link rel="stylesheet" href="style/index.css">
<div id = "mainBlock">
<!-- How can I greet using the user's RCS id? -->
<h1>Student Government Surveys</h1>

<!-- <img src="/style/volunteering1.jpeg" class = "img1" width = "600", height = "400" alt="people holding hands"> -->
<div class="event">
  <h1>Let us know of your problems. </h1>
  <h1>We are always listening. 🎧</h1>
  <H3>The Student Body's eager to learn more about everyday
    problems that are affecting you</H3>
  <H3>Every relevant and feasible
    problem will be reviewed by the board at their student meetings</H3>
  <p></p>
</div>
