<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="style/leaderboard.css">
</head>

<body style="background-color: red;">
	<div id = "mainBlock">

		<div id="top_part", style="background-color: white">
			<h1 id="forum" style="color: black;">Forums</h1>
			<div class="search-container">
				<input type="text" placeholder="Search">
				<button type="submit"><i class="fa fa-search"></i></button>
			</div>
			
		</div>

		<div class="user">
			<h2>Mike Wazowski</h2>
			<p>Hours Volunteered: 25</p>
			<p>More info: he's green</p>
		</div>
		<div class="user">
			<h2>Flynn Rider</h2>
			<p>Hours Volunteered: 0</p>
			<p>More info: he's a criminal</p>
		</div>
	</div>
</body>
